* {
    margin: 0;
    padding: 0;
}

html{
    background: black;
    overflow-x: hidden;
}

header{
    background: url("Bus-stop.jpg") repeat-x;
    background-size: 100% 500px;
    -webkit-animation: move-city 10s infinite linear;
    height: 450px;
    position: relative;
}


#eric{
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-animation: 
      run-run-run
      15s linear infinite;

}

#kenny{
    width: 200px;
    -webkit-animation: 
      run-run-run
    10s linear infinite;
    position: absolute;
}

/* 
    Animation Definitions
*/

@-webkit-keyframes move-city{
    	from { background-position: 0 -50px; }
	to   { background-position: -533px -50px; }
}

@-webkit-keyframes run-run-run{
    0%  {  bottom: 40px;  left: 100%; }
	10% { bottom: 40px; left: 90%;   }
	20% { bottom: 40px; left: 80%;   }
	30% { bottom: 40px; left: 70%;   }
	40% { bottom: 40px; left: 60%;   }
	50% { bottom: 40px; left: 50%;   }
	60% { bottom: 40px; left: 40%;   }
	70% { bottom: 40px; left: 30%;   }
	80% { bottom: 40px; left: 20%;   }
	90% { bottom: 40px; left: 10%;   }
	100% { bottom: 40px; left: -10%; }
}

